/*
 * MENU BUTTON
 */
 .menu__toggler {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  padding: 0 38px;
  align-items: center;;
  
  background-color: #f1ff30;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  .arrow{
    display: flex;
    align-items: flex-start;
    transition: 700ms cubic-bezier(0.77, 0, 0.175, 1);
  }
}

/*
 * SLIDING MENU PANEL
 */
.menu {
  position: absolute;
  bottom: 100%;
  z-index: 998;
  transition: 700ms cubic-bezier(0.77, 0, 0.175, 1);

  background-color: $viola;
  width: 100vw;
  height: 100vh;
  transition: 300ms bottom cubic-bezier(0.77, 0, 0.175, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
    li{
      padding-left: 30px;
      span{
        font-size: 10px;
        padding-right: 10px;
      }
    }
    .contenitore-works{
      display: flex;
      flex-direction: column;
      align-items: center;
      li{
        padding-left: 0;
      }
       .works-menu{
         position: relative;
          a{
            margin-right: 30px;
          }
          .menu-arrow-mobile{
            position: absolute;
            top: 40px;
            right: 0;
          }
        }
        .category-works-menu{
          display: flex;
          .menu-arrow-desk{display: none;}

            a.all-categories{
              margin-right: 30px;
            }
            li.ml1{
              margin-left: 30px;
            }
            li.ml2{
              margin-left: 60px;
            }
        }
    }
 &.active {
  bottom: 0;
  position: fixed;  overflow-y: hidden;
}
  
  @media only screen and (max-width: 600px) {
    .menu{
      li{
          @include primary-li;
      }
      .category-works{
        display: none;
      }
  }
  }
  /* arrow down-up transition */
  &.active {
    // bottom: 0;
    .arrow svg{
      transform: rotate(180deg);
    }
  }
  p {
    margin-bottom: 1rem;
  }
}

 .reverse{
  transform: rotateX(180deg);
}

