body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $white;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* FAST CLASSES */
/* display */
.df{
    display: flex;
}
.dg{
    display: grid;
}
.db{
    display: block;
}
.start{
    justify-content: flex-start;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.col{
    flex-direction: column;
}
/* dimensions */
.full-vh{
    height: 100vh;
}