main.contact-main{
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
    padding: 100px;
    color: black;
    .request{
        padding: 50px 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        .informativa {
            h2{
                font-size: 48px;
                font-family: 'monserrat-medium', sans-serif;
            }
            p{
                width: 50%;
                color: black;
                font-family: 'monserrat-medium', sans-serif;
            }
        }
    }
}