@import 'fonts';
@import 'reset';
@import 'colors';
@import 'menu';

.landing{
    .title-mobile{
        h1{
            writing-mode: vertical-rl;
            transform: rotate(180deg); 
            margin-bottom: 30px;
        }
        height: 80vh;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        span{
            color: $white;
            font-size: 5rem;   
            display: block;
            &.translate{
                transform: translateY(80px);
            }
        }
        #scroll-down{
            position: absolute;
            display: block;
            bottom: 30px;
            right: 0 ;
    }
    }  
    .datas{
        height: 20vh;
        display: grid;
        grid-auto-rows: 1fr 1fr;
        .marquee, .day{
            background-color:$white;
        }
        .marquee{
            border-bottom: 1px solid black;
        }
        .day{
            #clock{
                color: black;
                font-size: 3rem;
                font-family: 'quantico', sans-serif;
            }
            p#day {
                color: black;
                font-family: 'quantico', sans-serif;
            }
        }
    } 
    .line-ball{
        display: none;
    }
}
/* marquee + data e ora */



@media (min-width: 768px) {
    
    .landing{
        .title-mobile{
            height: 90vh;
            align-items: center;
            justify-content: start;
            h1{
                writing-mode: horizontal-tb;
                transform: rotate(0);
                margin: 0;
                span.translate{
                    transform: translateY(0px);
                    transform: translateX(80px);
                }
            }
            #scroll-down{
                left: -55px;
                bottom: 170px;
                transform: rotate(90deg);
            }
        }    
        .datas{
            height: 10vh;
            display: grid;
            grid-template-columns: 2fr 1fr;
        }
        .line-ball{
            display: flex;
            align-self: flex-end;
            margin-bottom: 90px;
            .ball{
            background-color:$viola;
            height: 150px;
            width: 150px;
            border-radius: 100px;
            }
            .line{
                height: 2px;
                width: 400px;
                z-index: 6;
                margin-left: -30px;
                background-color: $yellow;
            }
        }
    }
}

